body {
    margin: 0;
}

header {
    background-color: #F9DBA3;
}

.container {
    width: 80%;
    margin: 0 auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-size: 50px;
}

li.nav-item:hover {
    border: 2px solid #F6356F;
    background-color: #FF9DB5;
    padding: 10px;
    border-radius: 25px;
    padding-left: 35px;
    padding-right: 35px;
}

nav a {
    color: white;
    text-decoration: none;
    background-color: #FF9DB5;
    border-radius: 25px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: 'Roboto', sans-serif;
}
